@import 'base.css';
@import 'container.css';

.header {
    padding: 32px 0;
    background-color: #27ae60;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #124e2b;
}


.header_wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 36px;
}

.navigation {
    display: flex;
    gap: 32px;
}

.navigation__link {
    font-weight: 500;
    font-size: 18px;
    color: white;
    transition: color 0.4s ease-out;
}

.navigation__link::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    background-color: #1c7742;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.navigation__link:hover::before {
    transform: scale(1);
}

.navigation__link:hover {
    color: #37e27e;
}

.hero {
    padding: 72px 0;
}

.hero_title {
    font-weight: 500;
    font-size: 18px;
    color: #828282;
}

.hero_subtitle {
    margin-top: 18px;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}

.hero_description {
    margin-top: 32px;
    font-weight: 500;
    font-size: 18px;
    color: #828282;
    width: 560px;
}

.hero_actions {
    margin-top: 63px;
    display: flex;
    gap: 16px;
}

.hero_actions__link {
    padding: 12px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    background-color: #27ae60;
    border-radius: 8px;
    color: #fff;
    transition: background-color 0.4s ease-out;
}

.hero_actions__link-secondary {
    background-color: transparent;
    border: 1px solid white;
}

.hero_actions__link:hover {
    background-color: #1a723f;
}

.hero_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_ava {
    border-radius: 50%;
    border: 3px solid lightgreen;
    padding: 20px;
}

.hero_image-wrapper {
    position: relative;
}

.hero_image-wrapper::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #34c759;
    border-radius: 50%;
    border: 2px solid white;
    right: 90px;
    bottom: 20px;
}

.hero_image-wrapper::before {
    content: "#open_to_work 👨‍💻";
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 160px;
    height: 56px;
    background-color: #ebebeb;
    bottom: 70px;
}

.about_title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.about_text_top {
    margin: 0 auto;
    margin-top: 16px;
    width: 576px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.about_text_strong {
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
    color: #fff;
}

.about_text_bot {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: #fff;
}

.about {
    padding-top: 72px;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.about_image {
    border-radius: 16px;
}

.about_inner {
    margin-left: 80px;
}

.about_button {
    display: block;
    width: 143px;
    text-align: center;
    margin-top: 56px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 12px 27px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid white;
    transition: background-color 0.4s ease-out;
}

.about_button:hover {
    background-color: #1a723f;
}

.about_list {
    display: flex;
    margin: 0 auto;
    margin-top: 64px;
    justify-content: space-around;
}

.about_list li {
    color: white;
    text-align: center;
}

.about_list div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #212121;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.about_list li img {
    margin: 0 auto;
}

.about_list li h3 {
    margin-top: 8px;
}

.about_list li p {
    margin-top: 8px;
    width: 200px;
}

.my_portfolio {
    padding-top: 144px;
}

.my_portfolio-title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
}

.my_portfolio-text {
    width: 576px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-top: 16px;
}

.my_portfolio-list {
    display: flex;
    margin-top: 64px;
    gap: 105px;
}

.my_portfolio-image-wrapper {
    position: relative;
}

.my_portfolio-list-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_portfolio-list li {
    border-radius: 16px;
    background-color: white;
    width: 330px;
    height: 348px;
    overflow: hidden;
}

.my_portfolio-list-wrapper {
    padding: 24px 16px;
}

.my_portfolio-list-text {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    color: #556070;
    margin-top: 8px;
}

.my_portfolio-list li a {
    padding: 8px 24px;
    display: flex;
    background-color: #27ae60;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: justify;
    color: #fff;
    width: 117px;
    transition: background-color 0.5s ease-in-out;
}

.my_portfolio-list li a:hover {
    background-color: #1a723f;
}

.contacts {
    padding-top: 144px;
}

.contacts-title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.contacts-text {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    width: 441px;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
}

.contacts-list {
    line-height: 48px;
    margin-top: 32px;
    margin-left: 105px;
}

.contacts-list li a {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
}

.contacts-list-phone {
    background-image: url(../img/phone.png);
}

.contacts-list-email {
    background-image: url(../img/email.png);
}

.contacts-list-adress {
    background-image: url(../img/adress.png);
}

.contacts-list-phone:hover {
    color: gray;
}

.contacts-list-email:hover {
    color: gray;
}

.contacts-list-adress:hover {
    color: gray;
}

.footer {
    padding: 80px 0px 32px 0px;
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list div {
    background-color: #27ae60;
    padding: 8px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.footer-company-title {
    font-weight: 300;
    font-size: 14px;
    color: #e5e5ea;
}

.footer-list a:hover div {
    transform: scale(1.2);
}

.arrow-wrapper {
    height: 500px;
}

.arrow-up {
    display: inline-block;
    background-color: #1a723f;
    border-radius: 50%;
    padding: 5px;
    z-index: 9999;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.15s linear;
    position: fixed;
    bottom: 20px;
    margin-left: 150px;
    margin-right: auto;
}

.image-arrow {
    transform: rotate(180deg);
}

.arrow-up:hover {
    background-color: #27ae60;
    transform: scale(1.1);
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-form input {
    font-weight: 700;
    font-size: 14px;
    color: #4f4f4f;
    background: none;
    border: none;
    border-bottom: 2px solid #4f4f4f;
    width: 240px;
    margin-right: 32px;
    margin-top: 38px;
    padding: 5px;
    transition: border-bottom 0.3s ease-in-out;
}

.contacts-form input:focus {
    outline: none;
    border-bottom: 2px solid #27ae60;
}

.contacts-form-message {
    font-weight: 700;
    font-size: 14px;
    color: #4f4f4f;
    background: none;
    border-radius: 7px;
    width: 512px;
    height: 96px;
    padding: 8px 10px;
    margin-top: 38px;
    transition: border 0.3s ease-in-out;
}

.contacts-form-message:focus {
    outline: none;
    border: 1px solid #27ae60;
}

.contacts-form-button {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #27ae60;
    margin: 0 auto;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
}

.contacts-form-button:hover {
    cursor: pointer;
    background-color: #1a723f;
}